.btn-default {
    color: darkorange;
    border-color: orange;
    font-weight: bold;
    text-align: center;
}

.glyphicon {
    color: darkorange;
    margin-left: 2px;
    margin-right: 2px;
    font-size: 14px;
}

a:hover .glyphicon {
    text-decoration: none !important;
}

.btn-primary {
    color: black;
    background-color: darkorange;
    border-color: orange;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

h1, h2, h3 {
    color: darkorange;
}

.th-list {
    color: darkorange;
    text-align: left;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.image-nav {
    width: 88px;
    height: 72px;
}

.img-index {
    width: 100px;
    height: 100px;
}

.navbar {
    background-color: #ffffff;
    border-color: #ffffff;
}

.navbar-inverse .navbar-nav > li > a {
    color: darkorange;
    font-weight: bold;
}

.navbar-inverse .navbar-nav > li > a:hover {
    color: black;
    font-weight: bold;
}

