@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Missing Persons</h1>
    <p class="lead">Help us find them - browse the database, print advertisements, and notify us if you have any information that could help!</p>
    <p><a href="@Url.Action("Index", "MissingPersons")" class="btn btn-primary btn-lg">Browse database &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Add new entry</h2>
        <p>
            Create account to add new entries about missing person.
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Register", "Account")">Create an account &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Contact us</h2>
        <p>Did you passed missing person on the street or met him/her in the bus? Please let us know!</p>
        <p><a class="btn btn-default" href="mailto:missing.persons@domain.com">Notify us &raquo;</a></p>
    </div>
</div>